{% extends "base.html" %}
{% block metatitle %}{{ category }} | Hanime on hanime {% endblock metatitle %}
{% block ogtitle %}{{ category }} | Hanime on hanime {% endblock ogtitle %}
{% block metadescription %}{% for t in tags %}{% if t['text'] == category %}{{ t['description'] }}{% endif %}{% endfor %}{% endblock metadescription %}
{% block metakeywords %}{{ category }} , hentai, hentai api, hentai porn api, browse porn, browse, {% endblock metakeywords %}
{% block title %}{{ category }} |{% endblock %}
{% block content %}

<section class="frost-card p-3 p-md-4 mb-4">
  <div class="dropdown">
    <button class="btn btn-outline-light dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
      Browse: {{ category }}
    </button>
    <ul class="dropdown-menu dropdown-menu-dark">
      {% for t in tags %}
      <li><a class="dropdown-item" href="/browse/hentai-tags/{{ t['text'] }}/0" data-loading>{{ t['text'] }}</a></li>
      {% endfor %}
    </ul>
  </div>
</section>

<div class="row gx-4 gy-4 surface-listing row-cols-2 row-cols-md-3 row-cols-xl-4">
  {% for v in videos %}
  <div class="col">
    <article class="card h-100 position-relative">
      <span class="badge badge-views"><i class="fa-solid fa-eye"></i> {{ v['views'] }}</span>
      <img class="card-img-top" src="/proxy?url={{ v['cover_url'] }}" alt="{{ v['name'] }}" />
      <div class="card-body"><h2 class="h6 mb-0">{{ v['name'] }}</h2></div>
      <div class="card-footer border-0 bg-transparent">
        <a class="btn btn-cta btn-sm" href="/video/{{ v['slug'] }}" data-loading><i class="fa-solid fa-play me-1"></i>Watch</a>
      </div>
    </article>
  </div>
  {% endfor %}
</div>

<div class="text-center mt-4">
  <button onclick="history.back()" class="btn btn-outline-light mx-2"><i class="fa-solid fa-backward"></i></button>
  <a href="{{ next_page }}" class="btn btn-cta mx-2" data-loading><i class="fa-solid fa-forward"></i></a>
</div>

{% endblock %}
