{% extends "base.html" %}
{% block metatitle %}Hanime Api{% endblock metatitle %}
{% block metadescription %}Enjoy your unlimited hentai & anime collection. We are the definitive source for the best curated 720p / 1080p HD hentai videos, viewable by mobile phone and tablet, for free.{% endblock metadescription %}
{% block metakeywords %}hentai, hentai api, hentai porn api{% endblock metakeywords %}
{% block title %}Hanime{% endblock %}
{% block content %}

<style>
    .card {
        max-width: 100%;
        overflow: hidden;
    }

    .card-body {
        position: relative;
        padding: 0;
    }

    video {
        width: 100%;
        height: auto;
    }
    
    .video-js {
      width: 100% !important;
      height: auto !important;
    }
    
</style>

  <div class="container mt-5">
    <div class="card">
      <div class="card-body">
        <video
          id="live"
          class="video-js vjs-default-skin vjs-big-play-centered"
          controls
          preload="auto"
          width="100%"
          height="auto"
          data-setup='{}'>
          <source src="{{ link }}" type="video/mp4">
        </video>
      </div>
    </div>
  </div>

  <!-- ✅ Initialize Player with IMA VAST Ad -->
  <script>
    var player = videojs('live');

    player.ima({
      id: 'live',
      adTagUrl: 'https://active-bat.com/dMmoFHzPd.GeNLv/ZjGxU-/feDmt9zufZLUAlakIPCT/Ye1KMajskU2FOIDtIeteNcjVU/yoOmTwY-4kMjyOZSsva/Wg1bpmdFDv0Lxv'
    });

    player.ready(function () {
      player.ima.initializeAdDisplayContainer();
      player.ima.requestAds();
      player.play();
    });
  </script>

{% endblock %}
